ValidaXML (1)/DTD_C.dtd

<!ELEMENT joc (titol, companyia, plataforma, anyLlançament, personatges, nivells)>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT companyia  (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT anyLlançament (#PCDATA)>
<!ELEMENT personatges (personatge+)>
<!ELEMENT personatge (nom+)>
<!ELEMENT nivells (nivell+)>
<!ELEMENT nivell (nom+)>
<!ELEMENT nom (#PCDATA)>
<!ATTLIST personatge type (heroi|company|mentora) #IMPLIED>
<!ATTLIST nivell dificultat type (baixa|mitjana|alta) #IMPLIED> 
