ValidaXML (1)/DTD_C.dtd

<!ELEMENT joc (titol, companyia, plataforma, anyLlançament, personatges, nivells)>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT companyia  (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT anyLlançament (#PCDATA)>
<!ELEMENT personatges (personatge+1)>
<!ELEMENT personatge (nom)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT nivells (nivell+1)>
<!ELEMENT nom (#PCDATA)>
<!ATTLIST personatge type (heroi|company|mentora|)>
<!ATTLIST nivell type (baixa|mitjana|alta)> 
